@charset "utf-8";
* {
    box-sizing: border-box;
}
body {
	height: 100%;
    margin: 0px;
    padding: 0px;
	background-image: url('hatter2.jpeg');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.5em;
  background-color: #badeb0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ede3ae;
}

div.alap {
	height: 100%;
	width: 100%;
}

div.nev{
	margin-top: 150px;
  display: flex;
  justify-content: center;
  line-height: 90%;
  color: black;
  font-size: 700%;
}

div.nevala {
  margin-top:-70px;
  display: flex;
  justify-content: center;
  font-size:200%;
}

div.lab {
	margin-top: 8%;
	display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
  body {
	font-size: 60%;
  }
  
}

